appdirs==1.4.4
beautifulsoup4==4.9.3
bs4==0.0.1
certifi==2020.12.5
chardet==4.0.0
config==0.5.0.post0
coverage==5.4
distlib==0.3.1
et-xmlfile==1.0.1
filelock==3.0.12
idna==2.10
openpyxl==3.0.7
pyTelegramBotAPI==3.7.6
requests==2.25.1
six==1.15.0
soupsieve==2.2.1
urllib3==1.26.3
utils==1.0.1
virtualenv==20.4.2
vk-api==11.9.1
